<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Automation Framework Suite with Extent Report Integration">
	<!-- <listeners>
		<listener class-name="com.autoqa.framework.apitest.resources.ExtentReportNG" />
	</listeners> -->
	<test name="Unit Tests">
		<classes>
			<class name="com.autoqa.framework.uitest.utils.PropertyLoaderTest" />
			<class name="com.autoqa.framework.uitest.utils.CaptureScreenshotTest" />
		</classes>
	</test> <!-- Test -->
</suite> <!-- Suite -->
